@import "tailwindcss";

:root {
    --primary-text-color: rgb(0, 0, 0);
    --secondary-text-color: rgb(255, 242, 226);
}

body {
    background-color: rgb(255, 242, 226);
    color: var(--primary-text-color);
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
}